@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&family=Roboto+Slab&display=swap');

:root {
  --principal: #01497c;
  --negro: black;
  --blanco: #ffffff;
  --rojo: red;
  --fuente-radio: 'Radio Canada', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.espera {
  background-color: rgb(217, 217, 217);
}

.aceptado {
  background-color: rgb(192, 255, 192);
}

.rechazado {
  background-color: rgb(255, 214, 214);
}
